@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
._hide_scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
._hide_scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

._card {
    @apply p-6 border-4 border-black w-fit
}

._label-input {
    @apply block capitalize
}

._form-input {
    @apply mb-4 relative
}

._form-input ._input_icon{
    @apply absolute right-3 top-9
}

._form-input ._input {
    @apply border border-black px-4 py-2 lg:w-80 w-72
}

._input:focus {
    @apply outline-none
}

._form-input ._input._success {
    @apply border-green-500
}
._form-input ._input._error {
    @apply border-red-500
}

._button {
    @apply inline-flex bg-black text-white px-4 py-2 items-center gap-2 justify-center hover:font-bold transition-all ease-in-out delay-100 capitalize
}

._button._clear_button {
    @apply bg-transparent px-0 py-0 hover:font-semibold
}

._link {
    @apply text-sm text-black hover:text-sky-500 transition-all delay-100 ease-in-out
}

._validation {
    @apply text-sm first-letter:capitalize hidden
}

._validation.show {
    @apply block animate-wiggle
}

._alerts_container {
    @apply fixed top-0 p-4 z-50
}

._alerts_container ._alert {
    @apply px-4 py-2 text-white mb-2 animate-fade block transition-all ease-in-out
}

._alert._success {
    @apply bg-green-500
}

._alert._error {
    @apply bg-red-500
}

._alert._hide {
    @apply opacity-0 translate-x-2
}

._navbar_container {
    @apply flex flex-row items-center  justify-between w-full px-8 lg:px-20 py-4 border-b-2 border-black
}

._brand {
    @apply inline-flex items-center gap-4
}

._navbar_container ._logo {
    @apply text-xl font-semibold 
}

._navbar_container ._navlist {
    @apply flex flex-col fixed top-0 -right-full p-8 lg:p-0 bg-white h-full items-end w-full lg:static lg:flex-row lg:text-lg lg:w-fit gap-4 text-2xl  transition-all ease-in-out duration-300 lg:gap-12
}

._navbar_container ._button {
    @apply hidden lg:block
}

._navbar_container button {
    @apply block lg:hidden
}

._navlist li a._active {
    @apply underline font-bold
}

._navlist li a{
    @apply hover:text-sky-500 hover:underline transition delay-75 text-black
}

._button._list {
    @apply block lg:hidden
}

._navlist._show {
    @apply right-0
}

._myapp_nav {
    @apply flex flex-col bg-black p-6 gap-y-8
}

._myapp_navlist_container {
    @apply lg:flex flex-col h-full gap-4 hidden
}

._myapp_navlist_container._show {
    @apply flex
}

._mynavlist {
    @apply gap-2 flex-col flex
}

._mynavlist li a, ._mynavlist li button {
    @apply text-white/75 inline-flex gap-4 items-center text-lg hover:text-white w-full px-3 py-1
}

._mynavlist li a._active {
    @apply text-white bg-red-500 border border-red-800 rounded-lg
}
._head_navlist {
    @apply font-semibold text-white/75
}

._myapp_header_container {
    @apply flex flex-row w-full py-4 px-6 bg-white items-center justify-between rounded-xl
}

._myapp_header_container ._page_name {
    @apply text-3xl font-bold truncate
}

._myapp_header_container ._user_info_container {
    @apply inline-flex gap-4 border-l border-base-grey pl-4
}

._user_info_container ._user_photo {
    @apply rounded-md
}

._user_info {
    @apply flex flex-col justify-center
}

._user_name {
    @apply font-semibold capitalize truncate w-14 lg:w-full
}

._card_myapp {
    @apply bg-white p-4 rounded-xl flex flex-col
}

._table_container {
    @apply rounded-lg overflow-auto _hide_scrollbar border border-black
}

table {
    @apply w-full
}

thead {
    @apply text-left text-white font-normal bg-black
}

th {
    @apply font-semibold capitalize
}

th,td {
    @apply px-4 py-3 whitespace-nowrap
}

._wider_col {
    @apply whitespace-normal min-w-[24rem]
}

tbody {
    @apply text-gray-500
}

tbody tr {
    @apply border-b
}

._pagination_container {
    @apply flex lg:flex-row flex-col justify-center items-center gap-4
}

._pagination {
    @apply inline-flex justify-between items-center w-full gap-2
}

._pagination_info {
    @apply text-base text-gray-400
}

._pagination_button {
    @apply px-3 py-1 border rounded-md border-black hover:bg-black hover:text-white transition ease-in-out disabled:bg-gray-500 disabled:cursor-not-allowed disabled:text-black
}

._pill {
    @apply text-sm px-2 py-1 rounded-2xl
}

._pill._success {
    @apply border border-green-500 text-green-500
}

._pill._error {
    @apply border border-rose-500 text-rose-500
}

._pill._sky {
    @apply border border-sky-500 text-sky-500
}

._filters_container {
    @apply flex flex-row gap-2 _hide_scrollbar overflow-x-auto lg:overflow-visible
}

._filters_input_group {
    @apply border border-black rounded-lg px-3 py-1.5 gap-2 inline-flex items-center flex-nowrap
}

._filters_button {
    @apply rounded-lg px-3 py-1.5 bg-black text-white inline-flex gap-2 items-center flex-nowrap
}

._filters_button._white, ._white {
    @apply bg-white border border-black text-black hover:bg-black hover:text-white transition ease-in-out
}

._filters {
    @apply flex flex-row items-center gap-2
}

._filters ._filter_value {
    @apply px-3 py-1.5 rounded-lg inline-flex items-center gap-2
}

._green {
    @apply bg-green-200 text-green-400 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed
}
._red {
    @apply bg-red-200 text-red-400 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed
}
._yellow {
    @apply bg-yellow-200 text-yellow-400 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed
}
._blue {
    @apply bg-blue-200 text-blue-400 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed
}
._black {
    @apply bg-gray-200 text-gray-400 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed
}
._gray {
    @apply bg-gray-300 text-gray-500
}

input, select, textarea {
    @apply focus:ring-0 focus:outline-none
}

._action_btn {
    @apply px-3 py-1.5 rounded-lg
}

._skeleton {
    @apply relative h-5 w-full inline-flex bg-gray-300 animate-pulse rounded-lg
}

th span {
    @apply inline-flex gap-2 items-center
}

._modal_container {
    @apply fixed h-screen w-screen justify-center items-center bg-black/75 z-50 hidden
}

._modal_container._show {
    @apply flex
}

._modal_container ._modal {
    @apply bg-white flex flex-col rounded-xl gap-2
}

._modal ._modal_header {
    @apply text-2xl font-semibold px-5 py-2.5 border-b border-gray-300 inline-flex items-center justify-between
}

._modal ._modal_body {
    @apply px-5 py-2.5
}

._modal ._modal_buttons {
    @apply px-5 py-2.5 border-t border-gray-300 flex flex-row justify-end items-center gap-2
}

._modal_buttons button {
    @apply px-3 py-1.5 rounded-lg
}

._select_button {
    @apply border border-black rounded-lg py-1.5 pl-2 bg-white focus:outline-none
}

._selected_container {
    @apply flex flex-row items-center gap-2 border-l border-gray-300 pl-2
}

._selected_counter {
    @apply truncate
}

._selected_action {
    @apply flex flex-row gap-2
}

._selected_action button {
    @apply px-3 py-1.5 rounded-lg truncate
}

._progress_bar {
    @apply w-full h-4 bg-gray-300 rounded-lg overflow-hidden flex
}

._form_container {
    @apply flex flex-col gap-4
}

._form_container ._form_header {
    @apply text-2xl font-semibold
}

._form_container ._form {
    @apply flex flex-col lg:flex-row gap-2 lg:gap-8 border-2 border-gray-200 rounded-lg p-5
}

._form_container ._form_col {
    @apply flex flex-col gap-1 w-full
}

._form_container input, ._form_container select, ._form_container textarea {
    @apply px-3 py-1.5 border border-black rounded-md mb-2
}

._form_container button {
    @apply px-4 py-2 w-fit rounded-lg
}

._form_container input._file_input {
    @apply border-0 file:border  file:rounded-lg px-0 py-0 file:px-3 file:py-1.5 file:bg-black file:text-white file:border-black file:cursor-pointer file:mr-4 file:hover:bg-white file:hover:text-black file:hover:border-black
}

._form_container img {
    @apply border-2 border-black
}

._myapp_content {
    @apply w-full h-full gap-4 overflow-auto _card_myapp _hide_scrollbar
}

._dropdown_container {
    @apply static
}

._dropdown_button {
    @apply px-3 py-1.5 border border-black truncate rounded-lg hover:text-white hover:bg-black transition ease-in-out inline-flex justify-center items-center gap-1
}

._dropdown_list {
    @apply absolute top-16 right-4 bg-white px-4 py-2 border border-black rounded-lg z-40 animate-fade
}

._dropdown_list li{
    @apply flex flex-row justify-between
}

._dropdown_list._show {
    @apply block
}

._dropdown_list._hidden {
    @apply hidden
}

._filters_dropdown {
    @apply flex flex-col gap-2
}

._filters_dropdown div{
    @apply flex flex-row gap-2 justify-between items-center w-72
}
._filters_dropdown div label{
    @apply flex w-2/5   
}
._filters_dropdown div select, ._filters_dropdown div input{
    @apply flex w-3/5 border border-gray-300 rounded-md px-1 py-0.5
}

._overview_card {
    @apply px-6 py-4 gap-y-1 w-full flex flex-col justify-center items-center rounded-lg text-black border-2 border-black
}

._overview_card ._overview_amount {
    @apply text-4xl font-bold
}

._overview_card ._overview_info {
    @apply text-sm text-gray-500 truncate
}